.container-fluid {
  padding: 0;
}
.card-body {
  padding: 0 0.2rem 0.2rem 0;
}
.card-text {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.mt-2 .card-header {
  padding: 0 0 0 0.4rem;
}
.mt-2 {
  margin-top: 0.2rem !important;
}
.row {
  padding: 0;
}
.card-header,
.list-group .d-flex > div:first-child,
.ellipsis-3d {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.outline-view .list-group .list-group-item {
  padding:.1rem .1rem .1rem 1rem;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
 
}

.my-card-body {
  max-height: 96vh;
  overflow-y: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.card-body img {
  width: 6rem;
}
.row {
  --bs-gutter-x: 0;
}
h5 {
  margin-bottom: 0;
}
.accordion-body {
  padding: 0.5rem;
}
.da-gang .list-group-item {
  cursor: pointer;
}
svg {
  width: 1rem;
}
btn-group-sm > .btn,
.btn-sm {
  --bs-btn-padding-y: 0;

  --bs-btn-font-size: 0.8rem;
}
